* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(/img/mountain.jpeg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

.wrapper ul {
    list-style: none;
    margin-top: 2%;
    cursor: pointer;
}

.wrapper ul li {
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 14px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper ul li a{
    color: #fff;
    text-decoration: none;
}

.wrapper ul li:hover {
    background:orange;
}

.wrapper ul ul {
    display: none;
}

.wrapper ul li:hover > ul {
    display: block;
}

.wrapper ul ul ul {
    margin-left: 170px;
    top: 0;
    position: absolute;
}