.clearfix {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.header-container{
    height: 552px;
    background-color: #21204A;
    position: relative;
}

.header {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 50px;
}

.container {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}


.header-logo {
    width: 44px;
}

.header-menu {
    margin-left: 150px;
}

.header-menu ul {
    overflow: hidden;
    padding: 10px 0;
}

.header-menu li {
    float: left;
    padding: 5px 0;
}

.header-menu li a {
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 15px 42px;
    border-bottom: 1px solid transparent;
}

.header-menu li a:hover {
    color:#f906f996;
}

.header-button1 {
    cursor: pointer;
    border: 2px solid #BDCADB;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px 24px;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 16px;
    color:#fff;
}

.header-button1:hover {
    background: linear-gradient(256.8deg, #0698F9 13.5%, #F906F9 87.25%);
}
.header-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    padding: 76px 0px 20px 0px;
    width: 50%;
    float: left;
}
.heder-float {
    float: left;
}

.header-text {
    width: 50%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    margin-bottom: 48px;
    float: left;

}

.header-button2 {
    padding: 4px 4px 4px 20px;
    width: 192px;
    height: 48px;
    background: linear-gradient(256.8deg, #0698F9 13.5%, #F906F9 87.25%);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    float: left;
    text-align: center;
    padding-bottom: 3px;
}

.btn-title {
    float: left;
    padding: 8px;
}

.btn-img {
    cursor: pointer;

}

.header-image-1 {
    position: absolute;
    top: 91px;
    right: 110px;


    /* width: 50%; */
}

.card-content {
    margin-top: 61px;
}



.card-title {
    background: linear-gradient(256.8deg, #0698F9 13.5%, #F906F9 87.25%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
padding-right: 34px;
}

.card-button {
    background: #CDE2FE;
    border-radius: 12px;
    padding: 10px 16px 10px 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: 146px;
    height: 44px;
    cursor: pointer;
    margin-top: 5px;
}

.button-text {
    padding-right: 10px;
}

.card-link {
    border: 2px solid #6692CC;
    border-radius: 12px;
    padding: 8px 24px;
    align-items: center;
    text-decoration: none;
    color: #6692CC;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 5px ;
}

.card-image1 {
    margin: 4px;
}
.card-image2 {
    margin: 4px;
}

main {
    background-color: #edf1ff;

}
.first-block {
    width: 100%;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
    padding-top: 38px;
}

.forth_block_info{
    width: 100%;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
    padding: 38px 0px 138px 0px;
}


.card-1 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    margin: 9px;

    width: 282px;
    height: 500px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
}  

.card-2 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    margin: 9px;

    width: 282px;
    height: 500px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
}  

.card-3 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    margin: 9px;

    width: 282px;
    height: 500px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
}  

.card-4 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    margin: 9px;

    width: 282px;
    height: 500px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
}  

.card_text {
    color: #9D9BB9;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
padding-top: 16px;
}



.thin-text {
    color: #9D9BB9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.bold-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.user-avatar {
    overflow: auto;
    padding-top: 20px;

}
.user-avatar .artist{
    padding: 4px 0px 4px 8px;
    color: #9D9BB9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
/*Popular Collections  Category*/
.card_col_1 {
    background: rgba(255, 255, 255, 0.6);
    width: 350px;
    height: 235px;
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 16px;
    margin: 40px 9px;
    
}
.card_col_1 h2{
    display: inline;
}

.card_col_1 .col_img2 {
    position: absolute;
    padding-left: 2px;
}

.card_col_1 .col_img3 {
    padding-left: 2px;
}

.card_col_1 .col_img4 {
    padding-left: 4px;
}

.card_col_1 .img_subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282329;
}

.card_extra1 {
    padding-top: 5px;
    position: relative;
}   

.card_extra1 {
    padding-top: 5px;
    position: relative;
}
.card_extra2 {
    padding-top: 5px;
    position: relative;
}

.card_extra3 {
    padding-top: 5px;
    position: relative;
}

.card_extra4 {
    padding-top: 5px;
    position: relative;
}
.sub_subtitle {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #9D9BB9;
margin: 0px;
}

.mg_subtitle2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #282329;
}

.sub_subtitle2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9D9BB9;
}

.card_block_2 {
    position: relative;
}

/*THIRD BLOCK CATERGORY*/


.top-artists {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 138px 0px 140px 0px;
}

.artists_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #21204A;
}
.artists_title h3 {
    margin-right: 34px;
}
.artists_btn {
    background: #CDE2FE;
    border-radius: 12px;
    padding:10px 0px 10px 24px ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    height: 44px;
    cursor: pointer;
    margin-top: 5px;
}

.artists_btn_arrow {
    padding: 0px 13px;
}
.artist_1 .number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #451254;
    padding: 15px 0px 15px 0px;
}
.artist_2 .number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #451254;
    padding: 15px 0px 15px 0px;
}

.artist_3 .number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #451254;
    padding: 15px 0px 15px 0px;
}

.artist_pham {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #451254;
}
.artists_title a {
    border: 2px solid #6692CC;
    border-radius: 12px;
    padding: 8px 24px;
    align-items: center;
    text-decoration: none;
    color: #6692CC;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 5px;
}

.artist_1_1 {
    padding: 5px 0px 0px 5px;
}
.artist_1 {
    position: relative;
}
.third-block {
    overflow: auto;
}

.followers {
    padding-bottom: 5px;
}

.icon_pham {
    padding: 5px 5px 5px 0px;
    
}

.thin-text-pham {
    color: #9D9BB9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 2px;
}

.avatar_img {
    width: 80px;
}

.artists_list_1 {
    margin-right: 48px;
    padding: 5px;

}
.artists_list1 {
    padding-top: 38px;

}
.artist_2 {
    margin: 0px 58px 0px 58px;
    position: relative;
}

.artist_3 {
    position: relative;
}

.verified {
    position: absolute;
    top: 40%;
    left: 13%;
}

.artist_4 {
        margin: 0px 55px 0px 55px;
        position: relative;
}

.artist_4 .number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #451254;
    padding: 15px 0px 15px 0px;
}

/*4TH BLOCK CATERGORY*/

.card-title_2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #21204A;
    padding-right: 36px;
}

.base1 {
    border-radius: 5%;
}

.base2 {
    border-radius: 5%;
}

.base3 {
    border-radius: 5%;
}

.base4 {
    border-radius: 5%;
}

.catergory-1 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
}

.catergory-2 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
    margin-left: 54px;
}

.catergory-3 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
    margin-left: 55px;
}

.catergory-4 {
    box-sizing: border-box;
    align-items: center;
    padding: 16px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    float: left;
    margin-left: 55px;
}

.catergory-frame1 {
    background: rgba(160, 160, 214, 0.1);
    border-radius: 12px;
    padding: 8px 12px;
}

.card_bg {
    background: rgba(160, 160, 214, 0.1);
    border-radius: 12px;
    padding: 8px 12px;
    height: 76px;
}

.card_title1 {
    padding-bottom: 12px;
}

.card_title2 {
    padding-bottom: 12px;
}

.card_title3 {
    padding-bottom: 12px;
}

.card_title4 {
    padding-bottom: 12px;
}

.category-4_clock {
    position: absolute;
    top: 47px;
    right: 52px;
}

.clr {
    color: #11315B;
}

.hours_left {
    position: absolute;
    left: 8px;
}

/* - FIFTH BLOCK INFO -*/

.fifth-block_info {
    width: 100%;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
    padding-top: 38px;

}

.product-card1 {
    background: rgba(249, 249, 249, 0.8);
    box-shadow: 20px 20px 30px rgba(124, 65, 154, 0.1);
    border-radius: 16px;
    width: 250px;
    padding: 15px;
    margin-right: 28px;
    margin-top: 80px;
    position: relative;

}
.product-card1 img {
    padding-bottom: 8px;
}

.product-card1 .card_ver1 {
    position: absolute;
    left: 67%;
    bottom: 7%;
}
.product-card1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6E84AB;
}
.product-card1 h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #451254;
}

.product-card2{
    background: rgba(249, 249, 249, 0.8);
    box-shadow: 20px 20px 30px rgba(124, 65, 154, 0.1);
    border-radius: 16px;
    width: 250px;
    padding: 15px;
    position: relative;
}

.product-card2 {
    margin-bottom: 20% ;
}

.product-card2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #451254;
}

.product-card2 .card_ver2 {
    position: absolute;
    top: 87%;
    left: 64%;
}
.product-card_title {
    margin-right: 150px;
}
.product-card_title h3  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #21204A;
}

.product-card_title p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #64609F;
}

.colored_btn {
    width: 169px;
    background: linear-gradient(256.8deg, #0698F9 13.5%, #F906F9 87.25%);
    border-radius: 12px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn_text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px; 
}

.product-card_title p {
    padding-bottom: 20px;
}
.buyer_btn {
    position: absolute;
    cursor: pointer;
}


/*SIXTH BLOCK CATERGORY*/

.browse-by-catergory h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #21204A;
align-items: center;
text-align: center;
padding-bottom: 32px;
}

.browse-1 {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 6px 12px 18px rgba(102, 146, 204, 0.08), inset 0px 0px 0.5px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 16px;
    margin-right: 24px;
    margin-top: 15px;
}

.browse-1:last-child {
    margin-right: 0px;
}

/*SEVENTH BLOCK CATERGORY*/

.nfts_marketplace {
    padding-bottom: 250px;
}

.columns_info {
    padding-top: 132px;
}
.left-market-column h3 {
    padding-top: 120px;
}
.left-market-column h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #21204A;
padding-top: 120px;
padding-bottom: 23px;
}

.left-market-column p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
align-items: center;
color: #64609F;
padding-bottom: 30px;
}

.left-market-column a{
    border: 2px solid #6692CC;
    border-radius: 12px;
    padding: 12px 24px;
    width: 151px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #6692CC;
}

.right-market-column {
    max-width: 600px;
    position: absolute;
}

.right-market_img1 {
    padding-top: 40px;
    position: absolute;
    left: 610px;
}

.right-market_img2 {
    position: absolute;
    top: 73px;
    left: 1010px;
}

.right-market_img3 {
    position: absolute;
    top: 280px;
    left: 1010px;
}
/* - END - 7NTH BLOCK CATEGORY*/

/* 8th BLOCK CATEGORY*/
.whymyNFT {
    margin-bottom: 150px;
}
.whymyNFT_bg {
    background-image: url(../img/8th_block_img/nft.png);
    height: 390px;
    padding-bottom: px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    border-radius: 32px;
}

.mynft_text h3 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #FFFFFF;
}

.mynft_text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BDCADB;
}

.mynft_text button {
    padding: 10px 16px 10px 24px;
    width: 263px;
    background: linear-gradient(256.8deg, #0698F9 13.5%, #F906F9 87.25%);
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.4s;
}


.mynft_text button:hover {
    border: 1px solid #fff;
    outline: none;
}   

.mynft_btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.mynft_text {
    padding: 110px 71px 89px 71px;
}

.mynft_text h3 {
    padding-bottom: 32px;
}

.mynft_text p {
    padding-bottom: 32px;
}

.myftn_btnarrow {
    padding: 5px 5px 5px 8px ;
    vertical-align: middle;
}
.mynft_media {
    padding: 35px;
}
iframe {
        border: 2px solid transparent;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -o-border-radius: 30px;
        position: relative;
        overflow: hidden;
}

/*9th BLOCK CATEGORY*/

.sellNFTs  {
    padding-bottom: 48px;
}

.sellNFTs h3{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #21204A;
}

.icons_container a{
    float: left;
    padding-right: 241px;
}
.icons_container a:last-child {
    padding-right: 0px;
}

.text_container1 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #11315B;
    align-items: center;
    padding-bottom: 12px;
}
.text_container1 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #476285;
}

.text_container2 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #11315B;
    align-items: center;
    padding-bottom: 12px;
}
.text_container2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #476285;
}
.text_container3 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #11315B;
    align-items: center;
    padding-bottom: 12px;
}
.text_container3 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #476285;
}
.text_container4 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #11315B;
    align-items: center;
    padding-bottom: 12px;
}
.text_container4 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #476285;
}

.text_container1 {
    padding: 24px 40px 0px 0px;
}

.text_container2 {
    padding: 24px 40px 0px 0px;
}

.text_container3 {
    padding: 24px 40px 0px 0px;
}

.text_container4 {
    padding-top: 24px;
}

/*10th BLOCK CATERGORY INFO*/
.container_bg {
    background: #6E84AB;
    border-radius: 32px;
    width: 1200px;
    height: 274px;
    margin: 132px auto;
}
.container_position {
    position: relative;
}
.text_title {
    padding: 75px 78px 32px 49px;
}
.text-title button {
    padding: 5px;
}
.bg_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    padding-right: 5px;
    color: #FFFFFF;
}

.bg_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #F0F6FF;
}

.bg_btn1 {
    width: 145px;
    padding: 10px 20px 10px 12px;
    background: #CDE2FE;
    border-radius: 12px;
    border: none;
    padding: 10px;
    margin-right: 12px;
    cursor: pointer;
}

.bg_btn1 img {
    vertical-align: middle;
    margin-bottom: 4px;
}

.bg_btn_text1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #476285;
    padding-left: 17px;
}

.bg_btn_text2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #476285;
}

.bg_btn2 {
    width: 164px;
    padding: 10px 9px 11px 8px;
    background: #CDE2FE;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.bg_btn2 img {
    vertical-align: middle;
    margin-bottom: 4px;
    padding-right: 17px;
}

.btns {
    margin-top: 32px;
}

.btns button{
    padding-right: 10px;
}

.monkeys_wlpr {
    position: absolute;
    top: 26px;
    left: 500px;
    bottom: 0px;
}

.barcode_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F0F6FF;
}

.barcode {
    position: absolute;
    left: 900px;
    top: 50px;
}

.barcode_text {
    position: absolute;
    left: 1062px;
    bottom: 50px;

}

.arrow-left {
    position: absolute;
    left: 1063px;
    top: 82px;
}

footer {
    background-color: #21204A;
    overflow: auto;
}
.basement {
    width: 100%;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
    padding: 64px 0;
}
.base_info {
    width: 410px;
    overflow: auto;
}


.base_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.base_logo {
    padding-right: 16px;
    margin-bottom: 20px;
}

.base_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    color: #BDCADB;
}



.base_navbar {
    float: left;
    columns: 2;
    padding-right: 100px;
}
.navbar_first li a{
    padding-left:30px;

}

.base_navbar li {
    padding: 10px 0px;
}

.navbar_first #bold_font1 {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.navbar_first #bold_font2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.base_contact {
    padding-top: 10px;
}

.base_title1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding-bottom: 20px;
}

.base_title2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.base_input {
    background: rgba(215, 214, 220, 0.2);
    border: 1px solid rgba(215, 214, 220, 0.2);
    border-radius: 12px;
    width: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 44px;
    box-sizing: border-box;
    height: 44px;
}

.base_button {

    width: 114px;
    height: 36px;
    background: #CDE2FE;
    border-radius: 8px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #282329;
}

.base_title2 {
    padding: 20px 0px 20px 0px;
}

.base_navbar li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BDCADB;
    text-decoration: none;
}
.base_navbar li a:hover {
    color:#f906f996;
}

input {
    color: #fff;
}

.links {
    width: 100%;
    max-width: 1200px;
    overflow: auto;
    margin: 0 auto;
    padding-top: 138px;
    overflow: auto;
}

.links h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #21204A;
}
.left-title {
    padding-right: 36px;
}
.left-btn {
    background: #CDE2FE;
    border-radius: 12px;
    padding: 10px 16px 10px 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: 146px;
    height: 44px;
    cursor: pointer;
    margin-top: 5px;
}

.left-link-arrow {
    padding-left: 15px;
}

.style {
    background: #CDE2FE;
    border-radius: 12px;
    width: 285px;
    padding: 6px;
}

.left-3links {
    margin: 5px 16px;

}
.left-3links button {
    background: #F0F6FF;
    border-radius: 8px;
    width: 67px;
    padding: 4px 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #476285;
    border: none;
    cursor: pointer;
}

.left-3links a{
    text-decoration: none;
    padding: 3px 8px 0px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6E84AB;
}

.right-links {
    margin-left: 144px;
}

.basement_form {
    padding-bottom: 54px;
    position: relative;
}
.base_button {
    position: absolute;
    right: 4px;
    top: 4px;
}
.base_email_icon {
    position: absolute;
    right: 364px;
    top: 13px;
}

.soc_networks img {
    padding-right: 16px;
}

.green_line {
    width: 1200px;

    border: 1px solid;
    color: #11315B;
    margin-bottom: 64px;

}