* {
    margin: 0px auto;
}
body {
    background-color:azure;
}
.container {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.menu_list {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-top: 15px;
}

.menu_items {
    display: flex;
    flex-direction: row;
}

.menu_items ul {
    display: flex;
    padding: 10px 150px;
    justify-content: center;
}
.menu_items ul li{
    list-style-type: none;
    padding-left: 100px;
    
}

.menu_items li a {
    text-decoration: none;
    color:#26113c;
}

.menu_items {
    margin-left: 0px;
}

.menu_btn {
    margin-left: 220px;
    height: 30px;
    margin-top: 9px;
    width: 150px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.accordion-block {
    width: 50%;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgb(90, 90, 90);
}

.carousel-indicators .active {
    background: rgb(0, 0, 0);
}
.carousel-indicators {
    bottom: -50px;
}

.carousel-inner {
    margin-bottom:50px;
}

.carousel-inner img {
    border-radius: 20px;

}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    background-color:#26113c;
}
.modal-title {
    font-family: 'Poppins';
    font-size: 24px;
    color:tomato;
}
.modal-body_title2 {
    font-family: 'Poppins';
    color: red;
    text-align: center;
}

.modal-contact li a {
    color: red;
}

.modal-contact li {
    list-style-type: none;
}

.fl {
    display: flex;
    flex-flow: row;
}
.accordion {
    width: 50%;

}
.accordion-block {
    display: flex;
    overflow: hidden;
    width: 83%;
}

.btn {
    margin-left: 15px;
    padding: 1px;
}
form {
    display: flex;
    justify-content: center 
}
form input:last-child {
    margin-left: 50px;
    width: 150px;
}

form input {
    margin: auto 10px;
}

.form-callback {
    margin: 50px auto;
}

.card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.btn-primary {
    padding: 12px;
}




